# Backend
__pycache__/
*.py[cod]
*$py.class
dist/
build/
*.egg-info/
*.log
*.db
*.sqlite3
map.html
temp_map.html

# Frontend
node_modules/
dist/
build/
.env
.env.local
.env.development
.env.production
*.log
coverage/
.next/

# Virtual Environment
venv/
.venv/
env/
.env/

backend/.venv/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Dependencies
yarn.lock
package-lock.json 